

  body {

    font-family: "Roboto";
  }

  .clearfix {

    clear:both;
  }


  #popupWrap{
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
  }
  
  #popupWindow{
    border-radius: 10px;
    width: 800px;
    height: 640px;
    margin: 110px auto;
    display: none;
    background: #fff;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
  }
  
  .close{
    margin-left: 364px;
    margin-top: 4px;
    cursor: pointer;
  }

  .mainimg{

    margin: 20px 0px 0 100px;

  }


  .popupHead {
    font-size: 14pt;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;

  }

  .popupLeft {

    float: left;
    width:400px;

  }

  .popupRight {
    margin-right: 73px;
    margin-top: 30px;
    float:right;
    width:300px;

  }

  .popupRight td {

    padding: 10px 5px;
  }

  .popupRight .popupInput {
    border-radius: 5px;
    width: 205px;
    background-color: rgb(227,227,227);
    font-family: "ROBOTO";
    text-align: center;
  }


  .popupBottom  {
    
    margin-top: 20px;
    width:100%;

  }

  .popupBottom td  {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 30px;
  }

  .popupBottom .popupInput {
    border-radius: 5px;
    width: 74px;
    background-color: rgb(227,227,227);
    font-family: "ROBOTO";
    text-align: center;
  }


  .popupBottom .popupInputDop {

    background-color: white;
    font-size: 11pt;
    font-weight: bold;
  }
  

  .popupSubbotom {

    margin-bottom: 20px;
  }

  .popupSubbotom table {

    margin: auto;
  }


  .popUpSubSubbotom p {

    text-align: center;
    margin-bottom: -15px;

  }

  .popUpSubSubbotom textarea {

    border-radius: 5px;
    background-color: rgb(227,227,227);

  }

  .popUpSubSubbotom .subLeft {

float: left;
margin-left:40px;


  }

.popUpSubSubbotom .subRight {

float:right;
margin-right:40px;


}
  

  .popUpSubmitDiv {

    margin-top:80px;
    text-align: center;
    font-weight: bold;

  }

  #popUpSubmitBut{

width:200px;
height: 50px;

  }